<!DOCTYPE html>
<html lang = "en">  
  <head >  
    <meta charset = "utf-8">  
    <title>Home</title>
    <link rel="icon" href="./images/logo_icon.jpg" type="image/x-icon">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="./dashboard.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 
  </head>
  <body>  
    <div id="wrapper">  
      <div class="overlay"></div>  
      <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation"> 
        <ul class="nav sidebar-nav">  
          <div class="sidebar-header">  
            <div class="sidebar-brand">
              <a href="#"><img src="./images/Myproject.png" height="50px" alt=""> Mini Project</a> 
            </div> 
          </div>  
          <li><a href="#home"><i class='fa fa-home'></i>  Home</a></li>  
          <li><a href="#games"><i class='fas fa-gamepad'></i>  Games</a></li>  
          <li><a href="#contact"><i class='fas fa-mail-bulk'></i>  Contact</a></li>  
          <li><a href="#about"><i class='fa fa-address-card'></i>  About Me</a> </li>  
          <li><a href="#message"><i class='fa fa-envelope'></i>  Send Message</a> </li> 
          <li><a href="#followme"><i class='fa fa-heart'></i>  Follow me</a></li>  
          <li><a href="/logout"><i class='fa fa-sign-out'></i>  Logout</a></li>
        </ul>  
      </nav> 
    <div id="home" class="col col-lg-offset-2 text-center">  
      <h1> Gaming Website </h1>  
      <h5 >Welcome <%= Name %></h5>
    </div>  
    <div id="page-content-wrapper">  
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">  
        <span class="hamb-top"></span>  
        <span class="hamb-middle"></span>  
        <span class="hamb-bottom"></span>  
      </button>
    </div></div> 
      <div class="container">  
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators -->
          <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1" >
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2" >
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3" >
          <button type="button" data-bs-target="#demo" data-bs-slide-to="4" >
          </div>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./images/rps1.jpg" alt="Image 1" width="100%" height="500">
            </div>
            <div class="carousel-item">
              <img src="./images/ttt1.jpg" alt="Image 2" width="100%" height="500">
            </div>
            <div class="carousel-item">
              <img src="./images/Coming Soon.jfif" alt="Image 3" width="100%" height="500">
            </div>
            <div class="carousel-item">
              <img src="./images/rps2.jpg" alt="Image 4" width="100%" height="500">
            </div>
            <div class="carousel-item">
              <img src="./images/ttt2.jpg" alt="Image 5" width="100%" height="500">
            </div>
          </div>
          <!-- Left and right controls -->
          <button type="button" class="carousel-control-prev" href="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          </button>
          <button type="button" class="carousel-control-next" href="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          </button>   
        </div>
      </div>
      <br><br>
      <div id="games" class="container p-2 " >
        <div class="row">
          <div class="col section-1 section-description">
            <h2>Games</h2><br>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 pt-4 ">
            <div class="row">
              <div class="col-md-8 text-center">
                <h3>Rock Paper Scissors</h3>
                <form action="/RPS" method="post">
                  <input type="image" src="./images/RPS.png" name="submit" width="auto" height="100px" alt="submit"/>  
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 pt-4">
            <div class="row">
              <div class="col-md-8 text-center">
                <h3>Tic Tac Toe</h3><br>
                <form action="/TTT" method="post">
                <input type="image" src="./images/TTT.png" name="submit" width="auto" height="100px" alt="submit"/>  </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 pt-4">
            <div class="row">
              <div class="col-md-8 text-center">
                <h3>Simon Game</h3>
                <form action="/Simon" method="post"><br>
                <input type="image" src="./images/simon.png" name="submit" width="auto" height="100px" alt="submit"/>  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center " style="background-color: rgb(241, 237, 237);">
        <div class="col-md-5  px-4 mx-4 ">
          <br><br><h4 class="text-center">Game Playing History</h4><br>
          <table class="table border" style="background-color: rgb(184, 179, 179);" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Last Played At</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Rock Paper Scissor</td>
                <td><%= rps_lp %></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Tic Tac Toe</td>
                <td><%= ttt_lp %></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Simon Game</td>
                <td><%= Simon_lp %></td>
              </tr>
            </tbody></table><br><br><br>
        </div></div>
      <div class="section-2-container section-container-image-bg" id="contact">
        <div class="container">
          <div class="row">
              <div class="col pt-5 mt-5 px-5 mx-5">
                <h2>I Think That...</h2>
                <p>
                  It will be really helful if u can take your time and give reviews about the website so i can improve upon it.
                  I thank you for taking your time and you can contact me anytime using the mail id given in contact me section.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col section-bottom-button text-center ">
                <a class="btn btn-primary " href="#section-4" role="button">
                  <i class="fas fa-envelope"></i> Contact Us
                </a>
              </div>
            </div>
          </div>
        </div>
      
      <div class="section-3-container section-container-gray-bg" id="about">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 pt-5 mt-5 ">
              <h3>About Me</h3>
              <p class="medium-paragraph">
                I am a Studying 3rd year CSE(AI) at Karunya Institute Of Technology and Sciences. 
                My domain of interest has been Web Devolopment for quite some time now and i wanted to do something big with it. 
                This is my first step towards Web Devolopment with my very own Gaming website. 
              </p>
              <p>
                I hope y'all like what u see, pls share your comments and reviews so that i can update my myself and do better on the projects i will do in the future.
                THANK YOU......
              </p>
            </div>
            <div class="col-sm-4 pt-4 mt-4">
              <img style="height: 200px; width:auto" src="./images/wd.jfif" alt="about-me">
            </div>
          </div>
          <div class="row">
            <div class="col section-bottom-button text-center p-4"><br>
              <a class="btn btn-primary btn-customized" href="#" role="button">
                <i class="fas fa-sync"></i> View All
              </a><br>
            </div>
          </div>
        </div>
      </div>
      <div class="section-4-container section-container-image-bg" id="section-4">
        <div class="container" >
          <div class="row">
            <div class="col section-4 pt-5 mt-5" >
              <h2>Contact Us</h2>
              <p>Send an email to reneeshdenny@gmail.com to contact me or follow me on my social media channels.</p>
            </div>
          </div>
          <div class="row" id="message">
            <div class="col-md-6">
              <br>
              <h3>Send Message</h3>
              <div class="section-4-form">
                <form action="/Home_mes" method="post">
                  <div class="form-outline>
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email..." value=<%= email %> required /><br>
                  </div>
                  <div class="form-outline ">
                    <label for="subject">Subject</label>
                    <input class="form-control" type="text" name="subject" id="subject" placeholder="Subject...." required /><br>
                  </div>
                  <div class="form-outline ">
                    <label for="message">Message</label>
                    <textarea name="message" placeholder="Message..." class="form-control" id="message"></textarea>
                  </div>
                  <div class="pb-4 mb-4">
                  <input style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" id="submitDetails" name="submitDetails" class="btn btn-primary btn-lg registerbtn p-1 " value="Submit Message" /><br>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>   
    <div style="position:relative; bottom:0; height: 100px; width: 100%;" class="d-flex bg-primary justify-content-between p-4">
    <!-- Copyright -->
    <div class="text-white p-1 mb-3 mb-md-0" id="followme">
      <p>Copyright © 2022.(URK20CS2075) - Web Devolopment Mini Project. All Rights Reserved</p>
    </div>
      <!-- Right -->
    <div class="px-4">
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"> </script>  
    <script src="./dashboard.js"></script>  
</body>  
</html>  